<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue" @keyup.enter="handleBtmClick">
        <button v-on:click="handleBtmClick">提交</button>
        <ul>
            <todo-item v-for="(item,index) in list" @delete="handleItemDelete" :index="index" :content="item"></todo-item>
        </ul>
    </div>
    <script>
        // Vue.component('TodoItem',{
        //     props: ['content'],
        //     template:'<li>{{content}}</li>'
        // })

        var TodoItem = {
            props: ['content','index'],
            template: '<li v-on:click="handleItemClick">{{content}}</li>',
            methods: {
                handleItemClick: function(){
                    this.$emit('delete',this.index)
                }
            }
        }
        // 根实例
        var app = new Vue({
            el: "#app",
            // 注册组件
            components: {TodoItem: TodoItem},
            data:{
                list:[],
                inputValue: '',
            },
            methods:{
                handleBtmClick: function(){
                    // alert(this.inputValue);
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                },
                handleItemDelete: function(index){
                    this.list.splice(index,1);
                }
            }
        });
    </script>
</body>
</html>