<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>对象的循环</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- vm.$set(vm.userInfo,'name','hey') -->
        <div v-for="(item,key,index) of userInfo">
            {{item}}---{{key}}---{{index}}
        </div>
        <!-- vm.$set(vm.userList,0,5) -->
        <!-- <div v-for="item of userList">
                {{item}}
        </div> -->
    </div>
    <script>
    var vm = new Vue({
        el:'#app',
        data: {
            userInfo:{
                name:'Tom',
                age:29,
                sex:'男',
            },
            userList:[1,2,3,4]
        }
    })
    </script>
</body>
</html>